@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #f5f5f5;
}

@font-face {
  font-family: "line-seed-rg";
  src: url("./assets/fonts/LINESeedKR-Rg.ttf");
}

@font-face {
  font-family: "line-seed-bd";
  src: url("./assets/fonts/LINESeedKR-Bd.ttf");
}
